%% -*- erlang -*-
{erl_first_files, ["src/kvdb.erl"]}.
{erl_opts, [debug_info]}.
{deps,
 [{sqlite3, ".*", {git, "git://github.com/Feuerlabs/erlang-sqlite3.git", "HEAD"}},
  {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "HEAD"}},
  {sext, ".*", {git, "git://github.com/uwiger/sext.git", "HEAD"}},
  {resource, ".*", {git, "git://github.com/tonyrog/resource.git", "HEAD"}},
  {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", "HEAD"}},
  {edown, ".*", {git, "git://github.com/uwiger/edown.git", "HEAD"}}
 ]}.
{edoc_opts, [{doclet, edown_doclet},
             {top_level_readme,
              {"./README.md",
               "http://github.com/Feuerlabs/kvdb"}}]}.
