%% -*- erlang -*-
{erl_first_files, ["src/kvdb.erl","src/kvdb_schema.erl"]}.
{erl_opts, [debug_info]}.
{deps,
 [
  {sqlite3, ".*",  {git, "git://github.com/Feuerlabs/erlang-sqlite3.git", "1.0.1.fl.1"}},
  {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "2.1.13"}},
  {sext, ".*", {git, "git://github.com/uwiger/sext.git", "0.5"}},
  {resource, ".*", {git, "git://github.com/tonyrog/resource.git", "0.1"}},
  {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", "1.1.1"}},
  {edown, ".*", {git, "git://github.com/uwiger/edown.git", "HEAD"}}
 ]}.
{edoc_opts, [{doclet, edown_doclet},
             {top_level_readme,
              {"./README.md",
               "http://github.com/Feuerlabs/kvdb"}}]}.
