%% -*- erlang -*-
{deps,
 [{sqlite3, ".*", {git, "git://github.com/alexeyr/erlang-sqlite3.git", "HEAD"}},
  {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "HEAD"}},
  {sext, ".*", {git, "git://github.com/uwiger/sext.git", "HEAD"}},
  {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", "HEAD"}}
 ]}.
